<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete chat</title>
</head>
<body>
    <h2>You are going to delete your chat</h2>
    <hr>

    <h3>For confirmation click on button</h3>

    <form  method="post" action="/chat/<%= id %>?_method=DELETE ">
        <button>confirmaly i want to delete</button>
    </form>
    
</body>
</html>