<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <style>
        #email{

            margin-left: 20px;
        }
    </style>
</head>
<body>

    <h2>Welcome to Accountant</h2>

    <form method="post" action="/user/<%=id%>">

        <label for="username">Username:</label>
        <input type="text" placeholder="enter Your name" name="username">
        <br><br>
        <label for="email" id="email">Email   :</label>
        <input type="email" name="email" placeholder="enter your email">
        <br><br>
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="enter your password">
        <br>
        <button>submit</button>
    </form>
    
</body>
</html>