<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Your Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Here is your post in detail</h1>
    <div class="post">

    <h3>Your id : <%= post.id %></h3>
    <h3> Welcome! @<%= post.username %></h3>
    <h4>Your content : <%= post.content %></h34>
   
    </div>

    
    
</body>
</html>